body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.flaxible-container{
    display: flex;
    margin: 100px;
    

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
  
}
.Color-orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 38, 0), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#web1{


    border-left: 4px solid;
    border-image: linear-gradient(rgb(179, 91, 51), rgb(250, 246, 5));
    border-image-slice: 2;

}
.mission-position{
    text-align: center;
}

.Experice-item{
   
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 10px;

  
   
}
#goals-backcolor{
    background-color: antiquewhite;
}
#vision-backcolor{
    background-color: rgb(230, 217, 241);
}
#Mission-backcolor{
    background-color: rgb(235, 209, 202);
}
.Experice-item img{
    width: 60%;
}
.middle-banner{
    background-image: url(images/shapes/shape-1.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 200px;
 
}
.last-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
    background-position-y: 280px;
   
  
}
#footer-color{
   
    text-align: center;
    padding: 20px;

}
footer{
    color: rgb(233, 212, 212);
    padding: 20px;
    text-align: center;
    background-color: black;
}