body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
   background-color: rgb(236, 236, 193);
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.flaxible-container{
    display: flex;
    margin: 100px;  

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
  
}
#activities-id img{
    border-radius: 20px;
    margin-top: 100px;
    width: 100%;
  
}
.Color-orange{
    color: orange;
}
.link-button{

  
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 38, 0), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#mission-bar{


    border-left: 4px solid;
    border-image: linear-gradient(rgb(236, 11, 11), rgb(196, 193, 56));
    border-image-slice: 2;

}
.mission-position{
    text-align: center;
}

.Experice-item{
   
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    border-radius: 10px;

  
   
}
#goals-backcolor{
    background-color: antiquewhite;
}
#vision-backcolor{
    background-color: rgb(230, 217, 241);
}
#Mission-backcolor{
    background-color: rgb(235, 209, 202);
}
.Experice-item img{
    width: 60%;
}
.develop-banner{
    background-image: url(images/shapes/shape-1.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 200px;
 
}
.global-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
    background-position-y: 280px;
   
  
}
.activities-banner{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 450px;
}

footer{
    padding: 15px;
    color: white;
    text-align: center;
    background-color: black;
}
#footer-color{
    color:orangered;
}
#footer-formet{

    font-family:cursive;
}